/* Breakpoint using Media Query  */
@media (max-width:799px){

    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display:flex;
        align-items: center;        
    }
    #mobile i{
        color: 1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 26px;
    }
    .home{
        height: 70vh;
        padding: 0 50px;
        background-position: left 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product .pro-container {
        justify-content:center; 
    }
    #product .pro {
         margin: 15px 25px;
    }
    #banner{
        height: 25vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #banner2{
        padding: 0 40px;
    }
    #banner2 .banner-box{
        width: 32%;
 
    }
    #newslatter .form{
        width: 70%;
        margin-top: 25px;
    }

    /* This is for blog */
    #page-header.blog{
        height: 20vh;
    }
    #blog {
        padding: 70px 15px 0 50px;
    }

    /* This is for about section */
    #about-head {
        flex-direction:column;
        align-items: center;
    }
    #about-head img{
        width: 100%;
        padding: 40px;
     }
     #page-header.about{
        height: 25vh;
     }

    /* This is for contact section */
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin: 50px;
    }
    #contact-details .map{
        width: 100%;
        margin: 50px;
    }
    #form-details{
        flex-direction: column-reverse;
    }
     
    #contact-details .details span,
    #form-details form span{
        margin: 30px 0;
        
    }
    #form-details form h2{
        font-size: 30px;
        line-height: 23px;
        margin-bottom:30px ;
    }











}

@media (max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 15px 25px;
    }
    h2{
        font-size: 32px;
    }
    .home{
        background-position: 50%;
        padding: 0 20px;
 
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box{
        margin: 0 10px;
        width: 150px;
    }
    #product .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .b-box2{
        margin-top: 10px;
    }
    #banner2{
        padding: 0 20px;
    }
    #banner2 .banner-box{
        width: 100%;
    }
    #newslatter{
        padding: 40px 20px;
    }
    #newslatter .form{
        width: 100%;
    }


    /* For sproduct  */
    #prodetails{
        flex-direction: column;
        margin-top: 20px;
    }
    #prodetails .single-img{
        width: 100%;
        /* margin: 0px */
    }
    #prodetails .single-details{
        width: 100%;
        padding-left: 10px;
    }


    /* This is for blog */
    #blog .blog-box{
        flex-direction: column;
    }
    #blog .blog-img{
        width: 100%;
        margin-left: 5px;
    }
    #blog .blog-details{
        width: 100%;
        margin-right: 40px;
    }


    /* Ṭhis is for about section */

    #about-head img{
        width: 100%;
        padding: 20px;
    }
    #about-app .video{
        width: 100%;
        
    }

    /* This is for contact section */

    #form-details{
        padding: 0;
    }
    #form-details form{
        width: 100%;
    }

    /* This is for cart */
    #cart-add{
        flex-direction: column;
        width: 100%;
    }
    #coupon input{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        /* padding: 10px; */
    }
    
 



    


}















































